<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
</head>
<body>
    <h1>This is home page</h1>
    <h3><%= 1+2 %></h3>
    <h3><%= "anurag".toUpperCase() %></h3>
    <h3><%= ["hello","sir","ariba","anurag"] %></h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Tempore odio nihil ipsum asperiores quasi velit aspernatur
        quod sint ea quam. Id dolores recusandae enim alias illum
        et magnam eum ipsam!</p>
    <button>click me!</button>
</body>
</html>